{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de blog{% endblock %}

{% block description %}Lisez des articles super cool{% endblock %}

{% block keywords %}Voitures, Luxe, Pimp, Articles, Caisse{% endblock %}

{% block main %}
<main>
<h1 class="text-center my-3 display-5">Page de blog</h1>
</main>
{% endblock %}
