{% extends "themes/base_visitor.html.twig" %}

{% block title %}Page de contact{% endblock %}

{% block description %}Contactez-moi si vous avez des questions ou des idées{% endblock %}

{% block keywords %}Voitures, Luxe, Pimp, Articles, Caisse{% endblock %}

{% block main %}
<main>
<h1 class="text-center my-3 display-5">Page de contact</h1>
</main>
{% endblock %}
