{% extends "themes/base_visitor.html.twig" %}

{% block title %}En attente de la verification du compte par email{% endblock %}

{% block description %}En attente de la verification du compte par email{% endblock %}

{% block keywords %}Voitures, Luxe, Pimp, Articles, Caisse, Incription{% endblock %}

{% block main %}
<main>
   <div class"container mt-5 text-center ">
    <div class"row">
      <div class"col-md-8 mx-auto"
   <h1 class="text-center my-3 display-5">En attente</h1>
   <p>Un email vous a été envoyé pour la verification du compte par email</p>
       </div>
      </div>
    </div>
</main>
{% endblock %}
